body {
    background-color: lightblue;
}

div {

}

h1 {
    color: navy;
    margin-left: 20px;
}

#current_monitor_popup{
  position: absolute;
  left: 25%;
  top: 20%;
  height: 60%;
  width: 50%;
  /*visibility: hidden;*/
  background: brown;

  //rounded corners
  border-radius: 30px;
  border: 10px solid #73AD21;
  padding: 0px;
}

#current_monitor_text{
  width: 90%;
  height: 80%;
  margin-top: 5%;
  margin-bottom: 10%;
  margin-left: 5%;
  margin-right: 5%;
  columns: 
}



#current_monitor_buttons{
    position:absolute;
    bottom:3;
    right:3;
}
button:last-child{
    left:100px;
}
