body {
    background-color: lightgray;
    font-family: 'Open Sans';
}

div {

}

h1 {
    color: navy;
    margin-left: 20px;
}

input {

}

.divider{
    width:40px;
    height:auto;
    display:inline-block;
}

#check_time{
  width:60px;
  padding:5px;
  text-align:center;
  font-size:16;
}

#check_time_slider{
  width:10%;
}

.opts_first_line{
  font-size:24;
  width:100%;
  text-align: center;
}

.opts_second_line{
  text-align: center;
}

#screen_disable{
  position   : absolute;
  top        : 0;
  left       : 0;
  width      : 100%;
  height     : 100%;
  background : #000;
  opacity    : 0.6;
  filter     : alpha(opacity=60);
  z-index    : 5;
  display    : none;
}

#import_export_popup{

  position:absolute;
  background-color:darkgray;
  left:25%;
  top: 20%;
  height: 60%;
  width: 50%;

  color:white;
  margin:20px;
  padding:5px;
  border-radius:10px;
  display:none;
  z-index: 10;
}

#import_export_text{
  width: 90%;
  height: 80%;
  margin-top: 5%;
  margin-bottom: 10%;
  margin-left: 5%;
  margin-right: 5%;
  columns:
}

#import_export_buttons{
    position:absolute;
    bottom:3;
    right:3;
}
button:last-child{
    left:100px;
}

.opts_mon_title{
  text-align: center;
}
