<meta name="viewport" content="width=device-width, initial-scale=1">
  html, body{font-family: 'Roboto Condensed', sans-serif;
  float:center;
    font-weight:200;}
  div {}
/*body texts*/
  h1 {
      font-family: 'Open Sans', sans-serif;
      text-transform: uppercase;;
      font-weight:400;
      font-size: 32px;
      color:#3E3E3B;
  }

  h2 {
    font-family: 'Lato';
    font-weight:900;
    color:#3E3E3B;
    text-transform: uppercase;
    text-align: center;
  }

  h3 {
    font-family: 'Roboto Condensed';
    text-align: center;
    color:#3E3E3B;
  }

p{
  font-family: 'Lato';
  font-weight:700;
  color:#3E3E3B;
}

a:link{
  color:#6D6163; /*color:#6D6163 original color*/
}

a:visited{
  color:#4C586F; /*  color:#A6A2A2 original color */
}
  input {
    font-family: 'Lato';
    font-weight:400;
  }

  #version_num{
    text-align: center;
  }

  #body{
    font:Lato;
    font-weight:100;
    color:#3E3E3B;
  }

  .divider{
      width:40px;
      height:auto;
      display:inline-block;
  }
  #alert_sound{
    width:auto;
    height:auto;
    font-weight:100;
    margin-bottom:1.5%;
    text-align:center;
    font-size:22;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
  }

  #check_time{
    font-weight: 100;
    width:5%;
    height:auto;
    padding:auto;
    text-align:center;
    font-size:22;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
  }

  #check_time_slider{
    height:8px;
    width:20%;
  }

  .opts_first_line{
    vertical-align: middle;
    width:100%;
    text-align: center;
  }

  .opts_second_line{
    text-align: center;
  }

  #screen_disable{
    position   : fixed;
    top        : 0;
    left       : 0;
    width      : 100%;
    height     : 100%;
    background : #000;
    opacity    : 0.6;
    filter     : alpha(opacity=60);
    z-index    : 5;
    display    : none;
    margin-left: -0px;
    margin-top: -0px;
  }

  #import_export_popup{

    position: fixed;
    left:25%;
    top: 10%;
    height: 80%;
    width: 50%;
    background-color:#C1CAD6; /*background-color:#C1CAD6 Original */
    margin-left: -0px;
    margin-top: -0px;
    padding:5px;
    display:none;
    z-index: 10;
    color:white;
    opacity:50%;
  }

  #edit_popup{

    position:fixed;
    background-color:#C1CAD6; /*background-color:#C1CAD6 Original */
    left:25%;
    top: 35%;
    height: 300px;
    width: 50%;
    margin-left: -0px;
    margin-top: -0px;
    color:white;
    opacity: 50%;
    padding:5px;
    display:none;
    z-index: 8;
  }

  .edit_table, .edit_row, .edit_col_1, .edit_col_2{
    border:None;
    text-align: left;
  }

  .edit_col_1{
    width: 100px;
  }

  .edit_textbox{
    width:100%;
    height: 100%;
  }
  #edit_btns{
    position: relative;
    right: 0%;
    height: auto;
    width: 100%;
    bottom:-13%;
    text-align: center;
  }
  .edit_buttons{
    background-color:#A6A2A2;
    border:2px hidden ;
    display:inline-block;
    cursor:pointer;
    color:#FBFBF2;
    padding:1rem;
    font-size:1.5rem;
    width:27%;
    min-width: auto;
    margin: auto .5rem;
  }

  #import_export_text{
    position:relative;
    width: 90%;
    height: 70%;
    margin:5%;

  }

  .import_export_buttons{
    background-color:#A6A2A2;
    border:2px hidden ;
    display:inline-block;
    cursor:pointer;
    color:#FBFBF2;
    font-size:15px;
    min-width:27%;
    padding:.625em 1.5em;
    margin:auto .5rem;
  }

 hr.style1{
    border: 0; 
    height: 1px; 
    background-image: -webkit-linear-gradient(left, rgba(62, 62, 59, 0), #3e3e3b, rgba(240, 240, 240, 0));
    background-image: -moz-linear-gradient(left, rgba(62, 62, 59, 0), #3e3e3b, rgba(240, 240, 240, 0));
    background-image: -ms-linear-gradient(left, rgba(62, 62, 59, 0), #3e3e3b, rgba(240, 240, 240, 0));
    background-image: -o-linear-gradient(left, rgba(62, 62, 59, 0), #3e3e3b, rgba(240, 240, 240, 0));
  }

  #import_export_btns{
    position: relative;
    height: auto;
    width: 100%;
    text-align: center;
  }
  button:last-child{
      left:100px;
  }

  .opts_mon_title{
    text-align: center;
    font-size:24;
    font-family: 'Lato';

  }

  #monitored_pages{
    font-size:18;
  }

  .single_entry_full{
    text-align: center;
  }

  .opts_edit_button {

  background-color:#A2AAB0; /* background-color:#A6A2A2; Original */    
  border:2px hidden ;
  display:inline-block;
  cursor:pointer;
  color:#EBECED; /* color:#FBFBF2 Original */
  font-size:15px;
  padding:7px 24px;
  text-decoration:none;
  }

  .opts_edit_button:hover {
  	  background-color:#4C586F;
  }

  .opts_edit_button:active {
  	position:relative;
  	top:1px;
  }

  table{
    margin-left:auto; 
    margin-right:auto;
    width:90%;
    border-collapse:collapse;
    text-align: center;
    /*padding: 10px;*/
    border:0px solid black;
  }
  tr:hover{background-color: #dcdcdc;}
  
  th, td {
    border-bottom:1px solid #ddd;
    height:auto;
    width:auto;
    vertical-align: center;

  }

  .single_entry_ind{
    display: inline-flex;
  }

  .amzid_col{
    display:inline;
  }

button {
  background-color:#A2AAB0; /*  background-color:#A6A2A2; Original */
  border:2px hidden ;
  margin:.75rem;
  min-width: 10rem;
  min-height:5.5rem;
  text-transform: uppercase;
  font-family: 'Open Sans';
  font-weight: 700;
  display:inline-table;
  cursor:pointer;
  color:#EBECED; /*  color:#FBFBF2; Original */
  font-size:1.1em;
  width:12%;
  padding:.625em 1.5em;
}
button:hover {
  background-color:#4C586F; /*  background-color:#847577; Original */
}
button:active {
  top:1px;
}
/* SVG OPTIONS */
.logo{
  height:100;
  width:auto;
  fill:#3E3E3B;
}
.st2, .st5{
text-transform: uppercase;
font-family:'Lato';
}

.st2{
  font-weight:500;
}

.st5{
  font-weight: 900;
}

@media only screen and (max-width: 600px){
    #import_export_popup{
      width:100%;
      height:100%;
      left:0%;
      top:0%;
      }
    #import_export_text{
      height:40%;
    }
    .import_export_buttons{
      margin:2%;
    }
    button{
      font-size:2rem;
      padding:1rem;
      width:60%;
      height:auto;
    }
    #edit_popup{
      top:0;
      left:0;
      width:100%;
      height:100%;
    }
    table{
      font-size:1.25rem;
    }
    .edit_table{
      height:25%;
      width:80%;
      vertical-align: center;
    }
    .edit_textbox{
      font-size:1.5rem;
      width:90%;
      height:auto;
    }

    .edit_buttons{
      padding:1rem;
      font-size:2rem;
      width:60%;
      margin:.625rem;
    }
    h2{
      font-size: 2rem;
    }

    #check_time{
      width:20%;
    }
    #check_time_slider{
      width:60%;
    }
    
}  

@media only screen and (min-width: 601px) and (max-width: 1024px){
  #import_export_popup{
    width:80%;
    height:100%;
    left:10%;
    top:5%;
    }
  #edit_popup{
      top:5%;
      left:10%;
      width:80%;
      height:60%;
    }
  table{
    font-size:1.25rem;
    }
  .edit_table{
    height:25%;
    width:80%;
    vertical-align: center;
  }
  .edit_textbox{
    font-size:1.5rem;
    width:90%;
    height:auto;
  }

  .edit_buttons{
    padding:1rem;
    font-size:1rem;
    width:27%;
    min-width: auto;
    margin: auto .5rem;
    }
  #edit_btns{
    position: relative;
    right:0%;
    width:100%;
    height:auto;
    bottom: -13%;
    text-align:center;
    
    }
  
  h2{
    font-size: 2rem;
    }
}
 /* button {
  	-moz-box-shadow:inset 0px 1px 0px 0px #fff6af;
  	-webkit-box-shadow:inset 0px 1px 0px 0px #fff6af;
  	box-shadow:inset 0px 1px 0px 0px #fff6af;
  	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f7ae8b), color-stop(1, #ebd696));
  	background:-moz-linear-gradient(top, #f7ae8b 5%, #ebd696 100%);
  	background:-webkit-linear-gradient(top, #f7ae8b 5%, #ebd696 100%);
  	background:-o-linear-gradient(top, #f7ae8b 5%, #ebd696 100%);
  	background:-ms-linear-gradient(top, #f7ae8b 5%, #ebd696 100%);
  	background:linear-gradient(to bottom, #f7ae8b 5%, #ebd696 100%);
  	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7ae8b', endColorstr='#ebd696',GradientType=0);
  	background-color:#f7ae8b;
  	-moz-border-radius:7px;
  	-webkit-border-radius:7px;
  	border-radius:7px;
  	border:1px solid #8f6d39;
  	display:inline-block;
  	cursor:pointer;
  	color:#333333;
    font-family: "segoe ui";
  	font-size:12px;
  	font-weight:bold;
  	padding:4px 16px;
  	text-decoration:none;
  	text-shadow:0px 1px 0px #ffee66;
  }

  button:hover {
  	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ebd696), color-stop(1, #f7ae8b));
  	background:-moz-linear-gradient(top, #ebd696 5%, #f7ae8b 100%);
  	background:-webkit-linear-gradient(top, #ebd696 5%, #f7ae8b 100%);
  	background:-o-linear-gradient(top, #ebd696 5%, #f7ae8b 100%);
  	background:-ms-linear-gradient(top, #ebd696 5%, #f7ae8b 100%);
  	background:linear-gradient(to bottom, #ebd696 5%, #f7ae8b 100%);
  	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebd696', endColorstr='#f7ae8b',GradientType=0);
  	background-color:#ebd696;
  }
*/  /*
  button:active {
  	position:relative;
  	top:1px;
  }
  */
